
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title-PhotoGallery</title>

    <!-- Site -->
    <link href="~/Content/site.css" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap-superhero.min.css" rel="stylesheet">

    <!-- Font -->
    <link href="~/Fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @if (@ViewBag.AlertMsg != null && @ViewBag.AlertType != null)
        {
            @Html.Partial("_Alert")
        }
        @RenderBody()
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>